/* src/components/About.css */

body {
    font-family: 'Montserrat', sans-serif; /* Police moderne */
}

.about {
    padding: 20px;
    background-color: #f1f1f4; /* Couleur d'arrière-plan clair */
}

h1 {
    font-size: 2.5em; /* Taille du titre principal */
    color: #2e2e38; /* Couleur de texte principale */
    margin-bottom: 20px; /* Espacement inférieur */
    text-align: center; /* Centrer le titre */
}

h2 {
    font-size: 2em; /* Taille du sous-titre */
    color: #4a4a75; /* Couleur principale */
    margin-top: 30px; /* Espacement supérieur */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grille responsive */
    gap: 20px; /* Espacement entre les images */
}

.gallery-item {
    background-color: #fff; /* Fond blanc pour chaque image */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre légère */
    overflow: hidden; /* Pour les coins arrondis */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition pour l'animation */
}

.gallery-item:hover {
    transform: translateY(-5px); /* Léger effet de survol */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

.gallery-image {
    width: 100%; /* Prend toute la largeur du conteneur */
    height: 200px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Ajuste l'image pour couvrir le conteneur tout en conservant les proportions */
}

.gallery-title {
    font-size: 1.5em; /* Taille du titre de l'œuvre */
    color: #2e2e38; /* Couleur de texte principale */
    margin: 10px 0; /* Espacement autour du titre */
}

.gallery-artist {
    font-size: 1.1em; /* Taille du texte pour l'artiste */
    color: #9a9abc; /* Couleur secondaire */
    margin: 5px 0; /* Espacement autour du nom de l'artiste */
}

.gallery-status {
    font-size: 1em; /* Taille du texte pour le statut */
    color: #ff8474; /* Couleur d'accent pour le statut */
    margin-top: 5px; /* Espacement supérieur */
}
