.home {
    text-align: center;
    padding: 40px;
    background-color: var(--background-light);
}

.home h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.home .intro {
    color: var(--text-color);
    margin: 0 auto;
    max-width: 800px;
}

.home .cta-button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}
