/* src/pages/TermsOfUse.css */

.terms-of-use {
    padding: 40px 100px;
    background-color: #f1f1f4; /* Couleur d'arrière-plan clair */
    line-height: 1.6;
}

.terms-of-use h1 {
    font-size: 32px;
    color: #2e2e38; /* Couleur de texte principal */
    margin-bottom: 20px;
}

.terms-of-use p {
    font-size: 18px;
    color: #4a4a75; /* Couleur principale */
    margin-bottom: 15px;
}
