/* src/components/Footer.css */

.footer {
    background-color: #3a3a56; /* Couleur de pied de page */
    color: #f1f1f4;
    padding: 40px 100px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
    margin-bottom: 20px;
}

.footer-title {
    margin: 0 0 10px;
    color: #ff8474; /* Couleur d'accent pour le titre */
}

.footer p {
    margin: 5px 0;
}

.social-links {
    margin: 10px 0;
}

.social-links a {
    margin: 0 15px; /* Espace entre les icônes */
    color: #f1f1f4;
    font-size: 24px; /* Taille des icônes */
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ff8474; /* Couleur d'accent au survol */
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    margin: 0 10px;
    color: #f1f1f4;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff8474; /* Couleur d'accent au survol */
}

.footer-bottom {
    border-top: 1px solid #9a9abc;
    padding: 10px 0;
    font-size: 12px;
}
